<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" ng-controller="demoController as demo">
            <table ng-table="demo.tableParams" class="table table-bordered table-hover table-condensed editable-table" demo-tracked-table="demo.tableTracker">
                <tr ng-repeat="head in header">
                    <td ng-repeat="ddd in head">
                        {{ddd}}
                    </td>
                </tr>
                <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
                    <td ng-repeat="(key,value) in row.info" filter="{name: 'text'}" ng-switch="row.isEditing"
                        ng-form="row.{{key}}">
                        <span ng-switch-default class="editable-text">{{value}}</span>
                        <div class="controls" ng-class="name.$invalid && name.$dirty ? 'has-error' : ''"
                             ng-switch-when="true">
                            <input type="text" name="{{key}}" ng-model="row.info[key]"
                                   class="editable-input form-control input-sm" required/>
                        </div>
                    </td>

                    <td>
                        <button class="btn btn-primary btn-sm" ng-click="demo.save(row, rowForm)" ng-if="row.isEditing"
                                ng-disabled="rowForm.$pristine || rowForm.$invalid"><span
                                class="glyphicon glyphicon-ok"></span></button>
                        <button class="btn btn-default btn-sm" ng-click="demo.cancel(row, rowForm)"
                                ng-if="row.isEditing"><span class="glyphicon glyphicon-remove"></span></button>
                        <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing">
                            <span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-danger btn-sm" ng-click="demo.del(row)" ng-if="!row.isEditing"><span
                                class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>